/* @group Standard Layouts */

html {
    background: url(../images/logo_bg.png) center 380px no-repeat,
    			url(../images/bg.png) top left repeat;
    background-color: #151515;
    background-attachment: fixed;
    color: #fff;
    /*font-family: "Open Sans", Helvetica Neue, Helvetica, Liberation Sans, sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Liberation Sans, Arial, sans-serif;
    -webkit-font-smoothing: antialiased; 
}

body {
    text-shadow: 1px 1px 2px #000;
    font-size: 18px;
}

a {
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    text-decoration: none;
    -moz-transition: color 500ms ease;
    -ms-transition: color 500ms ease;
    -o-transition: color 500ms ease;
    -webkit-transition: color 500ms ease;
    transition: color 500ms ease; }
a:link { color: #7eadf2; }
a:hover { color: #fff; }
a:visited { color: #7eadf2; }

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin: 1em 0; }

h1, h2, h3 {
	color: rgba(38, 47, 61, 1);
	-moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    cursor: default;
	font-weight: bold;
    text-transform: uppercase; 
    font-family: 'GothicCustom', 'Arial Narrow', sans-serif; 
}
    
/*h1 {
	font-size: 60px;
	float: left;
    width: 228px;
	margin-top: 30px;
}*/

h1 {
	font-size: 60px;
	margin: 0;
    padding: 0;
}

h2 {
	color: rgba(140, 140, 140, 1);
	font-size: 40px;
	margin: 10px 0;
}

h3 {
	font-size: 30px;
}

h1:hover, h2:hover, h3:hover {
	color: #c0c0c0;
}

p {
	line-height: 22px;
	font-size: 18px;
}

section {
	margin-bottom: 40px;
	width: 690px;
	display: block;
}

section header h1 {
	background: transparent url(../images/star.png) no-repeat -20px 20px;
}

.left {
	width: 690px;
	margin-right: 20px;
	float: left;
	display: inline-block;
}

.right {
	width: 250px;
	float: right;
	display: inline-block;
}

/*section header h1:after {
	content: "»";
    margin-left: -48px;
    padding-right: 12px; 
}*/

header, section { 
	display: block;
}

footer { 
	padding: 24px 0 0;
}

footer p {
    background: #111;
    clear: both;
    margin: 24px 0 0;
    padding: 24px 0;
    text-align: center;
    -moz-box-shadow: 0 -5px 5px rgba(0, 0, 0,0.2);
    -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0,0.2);
  	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	font-size: 14px;
}

#wrapper {
	width: 960px;
	min-height: 500px;
	margin: 0 auto;
	/*background-color: rgba(0,0,0,0.3); 
	border-left: 1px solid #212121;
	border-right: 1px solid #212121;*/
	padding-top: 100px;
}

/* @end */

/* @group Fonts */

@font-face {
  font-family: 'GothicCustom';
  src: url("LeagueGothic.eot");
  src: local('â˜º'), url("LeagueGothic.otf") format('opentype'), url("leaguegothic.svg#lg") format('svg');
}		

@font-face {
  font-family: 'MuseoCustom';
  src: url("MuseoSans-500.eot");
  src: local('â˜º'), url("MuseoSans-500.ttf") format('opentype'), url("museo.svg#museo") format('svg');
}

/* @end */

/* @group Sections Layout */

#header {
	margin: 0 auto;
	padding: 20px 0px;
	width: 960px;
	height: 50px;
}

#top_stripe {
	width: 100%;
	height: 240px;
	overflow: visible;
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
	background-color: #000;
}

#stripe_content {
	margin: 0 auto;
	width: 960px;
	height: 240px;
	z-index: 0;
	background: url(../images/hackathon_title.png) no-repeat;
}

#logo_fold {
	position: absolute;
	margin: -31px 0px 0px 200px;
	width: 314px;
	height: 300px;
	text-indent: -5000px;
	background-image: url("../images/fold.png");
	background-repeat: no-repeat;
	background-position: top left;
	z-index: 50;
}

.content {
	display: inline-block;
	width: 690px;
}

.content ul {
	font-size: 18px;
	padding-left: 20px;
	line-height: 25px;
}

.content ul li {
	margin-bottom: 12px;
	list-style-position: outside;
	list-style-image: url(../images/circle_ok.png);
}

.agenda table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
	margin-top: 10px;
}

.agenda table tr td:first-child {
  font-weight: bold;
}

.agenda table tr:hover td {
  background-color: rgba(0,0,0,0.3);
}

.agenda table th {
  border-bottom: 1px solid #333333;
}

.agenda table th h2 {
  text-align: left;
  padding-left: 10px;
  margin: 0px;
  background-color: #222;
}

.agenda table td {
  padding: 5px 10px;
  vertical-align: top;
  line-height: 1.4em;
  border-bottom: 1px solid #333333;
}

dl {
	
}

dl dt {
	color: rgba(140, 140, 140, 1);
	font-weight: bold;
	margin-bottom: 5px;
}

dl dd {
	margin-bottom: 14px;
}

/* @end */

