/* @group Standard Layouts */

html {
    background: url(../images/logo_bg.png) center 150px no-repeat,
    			url(../images/bg.png) top left repeat;
    background-color: #151515;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Liberation Sans, Arial, sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased; 
}

body {
	margin: 0 auto;
	width: 960px;
	position: relative;
    text-shadow: 0 0 2px #333;
}

h1, h2, h3, h4, h5, h6 {
	
}

/* @end */

/* @group Fonts */



/* @end */

/* @group Sections Layout */

.register_bar {
	background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* @end */

